* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: min(calc(1em + 1vw), 4em);
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.5;
  color: black;
}

header {
  background-color: white;
  color: silver;
}

header > h1 {
  font-size: 1rem;
  text-align: right;
}

nav{
  border-right: #F26F21 solid 3px;
  width: 20%;
  position: fixed;
  height: 100%;
}

nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

nav li a {
  text-decoration: none;
  color: #333467;
  font-weight: bold;
}

nav a.active {
  font-weight: bold;
}

main{
  margin-left: 30vw;
}

section {
  width: min(100%, 38rem);
  background: hotpink;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

/* elke section na de eerste heeft een margin top 1rem */
section + section {
  margin-top: 1rem;
}

h3 {
  border-bottom: red 1px solid;
  margin-bottom: 1rem;
}

/* pre {
  padding-left: 0.2rem;
  background: DarkSlateGray;
  color: white;
} */
